// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

input {
    keyboard {
        numlock
      }
    touchpad {
        tap
        natural-scroll
      }
    trackpoint {
        accel-speed 0.2
      }
}

cursor {
    xcursor-theme "GoogleDot-Black"
    xcursor-size 20
    hide-after-inactive-ms 5000
    hide-when-typing
}

output "eDP-1" {
    mode "2560x1440@165.001" // `niri msg outputs`
    scale 1
    transform "normal"
    position x=1280 y=0
    //  backdrop-color "#101212"
}

layer-rule {
    match namespace="^wallpaper$" // `niri msg layers`
    place-within-backdrop true
}

overview {
    workspace-shadow {
        off
      }
}

layout {
    background-color "transparent"
    center-focused-column "never"
    always-center-single-column
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        fixed 1280
      }
    default-column-width { proportion 0.66667; }
    focus-ring {
        width 4
        active-color "#1B2763"
        inactive-color "#04040a"
      }
    border {
        off
        width 3
        active-color "#1B2763"
        inactive-color "#04040a"
        // urgent-color "#e5c890"
      }
    shadow {
        // on
        softness 30
        spread 5
      }
    gaps 24
    struts {
        left 16
        right 16
        top 16
        bottom 16
      }
    tab-indicator {
        width 8
        gap 8
        length total-proportion=0.66667
        gaps-between-tabs 16
        position "left"
        place-within-column
        active-color "#1B2763"
        inactive-color "#04040a"
        corner-radius 8
      }
}

// startup
spawn-at-startup "xwayland-satellite"
spawn-at-startup "pulseaudio" "-D"
spawn-at-startup "sh" "-c" "pkill swayidle; echo '10 minutes' > $HOME/.local/state/idle-time; $HOME/.config/scripts/swayidle.sh"
spawn-at-startup "discord" "--start-minimized" "--no-sandbox" "--enable-accelerated-mjpeg-decode" "--enable-accelerated-video" "--ignore-gpu-blacklist" "--enable-native-gpu-memory-buffers" "--enable-gpu-rasterization"
spawn-at-startup "wal" "-R"
spawn-at-startup "systemctl" "--user" "restart" "waybar.service"

prefer-no-csd

// env
environment {
    DISPLAY ":0"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
}

// screenshots
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d__%H-%M-%S.png"

// workspaces
workspace "browser"
workspace "chat"
workspace "projects"

// window rules
window-rule {
    match is-floating=true
    opacity 0.80

    min-width 100
    max-width 1000
    min-height 100
    max-height 1000

    shadow {
        //  on
        softness 70
        spread 5
        offset x=0 y=5
        draw-behind-window false
        color "#00000064"
        // inactive-color "#00000064"
      }
}

window-rule { // steam notifications top-right
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="top-right"
}

window-rule { // Fix OBS with server-side decorations missing a minimum width.
    match app-id=r#"^com\.obsproject\.Studio$"#
    min-width 876
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="krita" title=r#"(.*)image(.*)$"#
    match app-id="krita" title=r#"Open(.*)$"#
    match app-id="krita" title=r#"(.*)Properties(.*)$"#
    match title=r#"kitty"# title="^bluetuith$"
    match title=r#"files$"#
    match app-id=r#"org.gnome.FileRoller"#
    match app-id=r#"org.gnome.Calculator$"#
    match app-id=r#"pavucontrol$"#
    match app-id=r#"tweaks$"#
    match app-id=r#"Nautilus$"#
    match app-id=r#"Gradience$"#
    match title=r#"Open File$"#
    match title=r#"Open Folder$"#
    match title=r#"Preferences$"#
    match title=r#"Save File$"#
    match app-id=r#"nm-connection-editor$"#
    match title=r#"galculator$"#
    
    open-floating true
    opacity 0.80
}

window-rule {
//  geometry-corner-radius 15
    clip-to-geometry true
    tiled-state true
}

window-rule {
    match is-focused=true
    opacity 1.0
}

window-rule { // workspace: browser
    match app-id=r#"firefox$"#
   open-on-workspace "browser"
   open-focused true
}

window-rule { // workspace: chat
    match app-id=r#"discord$"#
    open-on-workspace "chat"
    open-focused true
}

window-rule { // workspoace: projects
    match app-id=r#"^com\.obsproject\.Studio$"#
    match app-id=r#"BambuStudioi$"#
    match app-id=r#"obsidian$"#
    open-on-workspace "projects"
    open-focused true
}

// keybinds
binds {
    Mod+Shift+Slash                                                         { show-hotkey-overlay; }
    Mod+T                                                                   { spawn "kitty"; }
    Mod+Shift+T                                                             { spawn "kitty" "-e" "tmux"; }
    Mod+D                                                                   { spawn "fuzzel"; }
    Mod+E                                                                   { spawn "nautilus"; }
    Mod+I                 hotkey-overlay-title="Change Idle Time"           { spawn "sh" "-c" "$HOME/.config/scripts/change-idle-time.sh";}
    Mod+Ctrl+P            hotkey-overlay-title="Power Off Monitors"         { spawn "sh" "-c" "niri msg action power-off-monitors | $HOME/.config/scripts/swaylock.sh"; }
    Mod+Shift+P           hotkey-overlay-title="Change Power Profile"       { spawn "sh" "-c" "$HOME/.config/scripts/change-power-profile.sh";}
    Mod+Escape                                                              { spawn "sh" "-c" "$HOME/.config/scripts/swaylock.sh"; }
    Mod+Shift+W           hotkey-overlay-title="Reload Waybar.Service"      { spawn "systemctl" "--user" "restart" "waybar.service"; }
    Mod+Shift+B           hotkey-overlay-title="Reload Swaybg.Service"      { spawn "systemctl" "--user" "restart" "swaybg.service"; }
    Mod+Shift+C                                                             { spawn "sh" "-c" "cliphist list | fuzzel --dmenu --config $HOME/.config/fuzzel/clipboard.ini | cliphist decode | wl-copy"; }
    XF86AudioRaiseVolume  allow-when-locked=true                            { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume  allow-when-locked=true                            { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute         allow-when-locked=true                            { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute      allow-when-locked=true                            { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp   allow-when-locked=true                            { spawn "brightnessctl" "set" "10%+"; }
    XF86MonBrightnessDown allow-when-locked=true                            { spawn "brightnessctl" "set" "10%-"; }
 
    Mod+Shift+Ctrl+P      hotkey-overlay-title="Random wallpaper"           { spawn "sh" "-c" "$HOME/.config/scripts/pywal.sh"; }
    Mod+Shift+Ctrl+W      hotkey-overlay-title="Set wallpaper"              { spawn "sh" "-c" "$HOME/.config/scripts/change-wallpaper.sh"; }
    
    Mod+O repeat=false    { toggle-overview; }

    Mod+Q                 { close-window; }

    Mod+Left              { focus-column-left; }
    Mod+Down              { focus-window-down; }
    Mod+Up                { focus-window-up; }
    Mod+Right             { focus-column-right; }
    Mod+H                 { focus-column-left; }
    Mod+J                 { focus-window-down; }
    Mod+K                 { focus-window-up; }
    Mod+L                 { focus-column-right; }

    Mod+Ctrl+Left         { move-column-left; }
    Mod+Ctrl+Down         { move-window-down; }
    Mod+Ctrl+Up           { move-window-up; }
    Mod+Ctrl+Right        { move-column-right; }
    Mod+Ctrl+H            { move-column-left; }
    Mod+Ctrl+J            { move-window-down; }
    Mod+Ctrl+K            { move-window-up; }
    Mod+Ctrl+L            { move-column-right; }

    Mod+Home              { focus-column-first; }
    Mod+End               { focus-column-last; }
    Mod+Ctrl+Home         { move-column-to-first; }
    Mod+Ctrl+End          { move-column-to-last; }

    // Mod+Shift+Right       { focus-monitor-right; } example, but not using

    Mod+Shift+Ctrl+J   hotkey-overlay-title="Move Workspace Down"              { move-workspace-down; }
    Mod+Shift+Ctrl+K   hotkey-overlay-title="Move Workspace Up"                { move-workspace-up; }

    Mod+Shift+J        hotkey-overlay-title="Focus Workspace Down"             { focus-workspace-down; }
    Mod+Shift+K        hotkey-overlay-title="Focus Workspace Up"               { focus-workspace-up; }

    Mod+Ctrl+Alt+J     hotkey-overlay-title="Move Column to Workspace Down"    { move-column-to-workspace-down; }
    Mod+Ctrl+Alt+K     hotkey-overlay-title="Move Column to Workspace Up"      { move-column-to-workspace-up; }

    // Mod+Shift+Ctrl+Left   { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+Down   { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+Up     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right  { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H      { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J      { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K      { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L      { move-column-to-monitor-right; }

    Mod+WheelScrollDown         cooldown-ms=150     { focus-workspace-down; }
    Mod+WheelScrollUp           cooldown-ms=150     { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown    cooldown-ms=150     { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp      cooldown-ms=150     { move-column-to-workspace-up; }
    Mod+WheelScrollRight                            { focus-column-right; }
    Mod+WheelScrollLeft                             { focus-column-left; }
    Mod+Ctrl+WheelScrollRight                       { move-column-right; }
    Mod+Ctrl+WheelScrollLeft                        { move-column-left; }
    Mod+Shift+WheelScrollDown                       { focus-column-right; }
    Mod+Shift+WheelScrollUp                         { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown                  { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp                    { move-column-left; }

    Mod+1             { focus-workspace 1; }
    Mod+2             { focus-workspace 2; }
    Mod+3             { focus-workspace 3; }
    Mod+4             { focus-workspace 4; }
    Mod+5             { focus-workspace 5; }
    Mod+6             { focus-workspace 6; }
    Mod+7             { focus-workspace 7; }
    Mod+8             { focus-workspace 8; }
    Mod+9             { focus-workspace 9; }

    Mod+Ctrl+1        { move-column-to-workspace 1; }
    Mod+Ctrl+2        { move-column-to-workspace 2; }
    Mod+Ctrl+3        { move-column-to-workspace 3; }
    Mod+Ctrl+4        { move-column-to-workspace 4; }
    Mod+Ctrl+5        { move-column-to-workspace 5; }
    Mod+Ctrl+6        { move-column-to-workspace 6; }
    Mod+Ctrl+7        { move-column-to-workspace 7; }
    Mod+Ctrl+8        { move-column-to-workspace 8; }
    Mod+Ctrl+9        { move-column-to-workspace 9; }

    Mod+BracketLeft   { consume-or-expel-window-left; }
    Mod+BracketRight  { consume-or-expel-window-right; }
    Mod+Comma         { consume-window-into-column; }
    Mod+Period        { expel-window-from-column; }
    Mod+R             { switch-preset-column-width; }
    Mod+Shift+R       { switch-preset-window-height; }
    Mod+Ctrl+R        { reset-window-height; }
    Mod+F             { maximize-column; }
    Mod+Shift+F       { fullscreen-window; }
    Mod+Ctrl+F        { expand-column-to-available-width; }
    Mod+C             { center-column; }
    Mod+Ctrl+C        { center-visible-columns; }
    Mod+Minus         { set-column-width "-10%"; }
    Mod+Equal         { set-column-width "+10%"; }
    Mod+Shift+Minus   { set-window-height "-10%"; }
    Mod+Shift+Equal   { set-window-height "+10%"; }
    Mod+V             { toggle-window-floating; }
    Mod+Shift+V       { switch-focus-between-floating-and-tiling; }
    Mod+W             { toggle-column-tabbed-display; }

    Print             { screenshot; }
    Ctrl+Print        { screenshot-screen; }
    Alt+Print         { screenshot-window; }

    Mod+Shift+E       { quit; }
    Ctrl+Alt+Delete   { quit; }
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}
