@define-color foreground #c7c7c2;
@define-color background #1f1c1a;
@define-color cursor #c7c7c2;

@define-color color0 #1f1c1a;
@define-color color1 #694A39;
@define-color color2 #3C3F40;
@define-color color3 #3D4343;
@define-color color4 #4D4C4A;
@define-color color5 #69554A;
@define-color color6 #6C6763;
@define-color color7 #c7c7c2;
@define-color color8 #71715c;
@define-color color9 #694A39;
@define-color color10 #3C3F40;
@define-color color11 #3D4343;
@define-color color12 #4D4C4A;
@define-color color13 #69554A;
@define-color color14 #6C6763;
@define-color color15 #c7c7c2;
