@define-color foreground #c4c1c1;
@define-color background #150909;
@define-color cursor #c4c1c1;

@define-color color0 #150909;
@define-color color1 #885132;
@define-color color2 #8E6E54;
@define-color color3 #967861;
@define-color color4 #A28771;
@define-color color5 #C6937A;
@define-color color6 #BC7883;
@define-color color7 #c4c1c1;
@define-color color8 #6c5858;
@define-color color9 #885132;
@define-color color10 #8E6E54;
@define-color color11 #967861;
@define-color color12 #A28771;
@define-color color13 #C6937A;
@define-color color14 #BC7883;
@define-color color15 #c4c1c1;
