@import "colors-waybar.css";

/* keyframes */
@keyframes blink {
  to {
    background-color: @color0;
    color: @background;
  }
}

/* reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  text-shadow: none;
}

#waybar {
  background: transparent;
  color: @background;
  font-family:
    JetBrains Mono,
    Siji;
  font-size: 11pt;
  font-weight: bold;
}

.tooltip {
  background-color: @foreground;
  border: solid @foreground;
  border-radius: 8px;
}

/* each modules */
#clock,
#color1tooth,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#mpris,
#custome-sway-idle,
#idle_inhibitor,
#custom-clipboard,
#custom-swayidle,
#custom-power {
  padding-left: 14pt;
  padding-right: 18pt;
}

#mode {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-name: blink-critical;
  animation-duration: 1s;
  color: @color15;
  background-color: @background;
}

#workspaces button {
  padding-left: 13pt;
  padding-right: 13pt;
  background-color: @color0;
  color: @foreground;
}

#workspaces button.active {
  color: @foreground;
}

#workspaces button.visible {
  color: @foreground;
}

#workspaces button.empty {
  color: @foreground;
}

/* this is for the workspace button's highlight */
button {
  box-shadow: inset 0 0 transparent;
  color: @cursor;
  border: none;
  border-radius: 0px;
}

button:hover {
  background: inherit;
  box-shadow: inset 0px -1px transparent;
}

#custom-arrow10 {
  font-size: 20pt;
  color: @color0;
  background: @color4;
}

#window {
  color: @color19;
  margin-right: 35pt;
  margin-left: 35pt;
}

#clock {
  background-color: @color4;
  color: @background;
  font-weight: bold;
}

#custom-arrow11 {
  font-size: 20pt;
  color: @color4;
  background: @color0;
}

#custom-arrow12 {
  font-size: 20pt;
  color: @color4;
  background: @color0;
}

#custom-arrow13 {
  font-size: 20pt;
  color: @color0;
  background: transparent;
}

#custom-arrow14 {
  font-size: 20pt;
  color: @color0;
  background: transparent;
}

#custom-arrow9 {
  font-size: 20pt;
  color: @color3;
  background: @color0;
}

#tray {
  background-color: @color3;
  color: @foreground;
  font-weight: bold;
  padding-left: 14pt;
  padding-right: 16pt;
}

#custom-arrow8 {
  font-size: 20pt;
  color: @color15;
  background: @color3;
}

#custom-clipboard {
  background-color: @color15;
  color: @background;
  font-weight: bold;
}

#custom-arrow7 {
  font-size: 20pt;
  color: @color5;
  background: @color15;
}

#pulseaudio {
  background-color: @color5;
  color: @foreground;
  font-weight: bold;
}

#pulseaudio.muted {
  color: @background;
  font-weight: bold;
}

#custom-arrow6 {
  font-size: 20pt;
  color: @color15;
  background: @color5;
}

#bluetooth {
  background-color: @color15;
  color: @background;
  font-weight: bold;
  font-size: 16pt;
  padding-left: 14pt;
  padding-right: 16pt;
}

#custom-arrow5 {
  font-size: 20pt;
  color: @color3;
  background: @color15;
}

#battery {
  background-color: @color3;
  color: @foreground;
  font-weight: bold;
}

#battery.critical:not(.charging) {
  background-color: @color0;
  color: @foreground;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-arrow4 {
  font-size: 20pt;
  color: @color4;
  background: @color3;
}

#custom-swayidle {
  background-color: @color4;
  color: @background;
  font-weight: bold;
  padding-right: 14pt;
}

#custom-arrow3 {
  font-size: 20pt;
  color: @color0;
  background: @color4;
}

#custom-power {
  background-color: @color0;
  color: @cursor;
  font-weight: bold;
  font-size: 14pt;
  padding-right: 22pt;
}
