@define-color foreground #c0c1c2;
@define-color background #06080d;
@define-color cursor #c0c1c2;

@define-color color0 #06080d;
@define-color color1 #2B9077;
@define-color color2 #59A171;
@define-color color3 #51F177;
@define-color color4 #A3D579;
@define-color color5 #34AF88;
@define-color color6 #5CCD87;
@define-color color7 #c0c1c2;
@define-color color8 #555a68;
@define-color color9 #2B9077;
@define-color color10 #59A171;
@define-color color11 #51F177;
@define-color color12 #A3D579;
@define-color color13 #34AF88;
@define-color color14 #5CCD87;
@define-color color15 #c0c1c2;
